@media screen and (max-width: 640px) {
  .flecheBas{
    display: none;
  }
  #cv{
    border-width: 119px 91px 0 0;
    display: none;
  }
  #cv #liencv{
    
  }
  #cv #liencv a{
    font-size: 13px;
    line-height: 15px;
  }
.conteneur{
	width: 100%;
}

  header h1 {
    font-size: 28px;
    padding-top: 0px;

  }
  header ul{
    padding-left: 0px;
  }
  .titre h1{
    font-size: 1.1em;
    text-align: center;
    margin-top: 1px;
    height: 70px;
    line-height: 70px;
  }
  .titre h1 img{
    height: 60px;
  }
  
  .metier {
  	font-size: 26px;
  	padding-top: 0px;
    height: 48px;
    line-height: 48px;
  }
  #navigation{
  	height: 70px;
    padding-bottom: 0px;
  }
  #navigation ul{
    margin-left: 0px;
    padding-top: 0px;
  }
  #navigation ul li a{
  	margin-top: 10px;
    margin-left: 1%;
    width: 18.3%;
    font-size: 0.7em;
    text-align: center;
  }
  #navigation ul li img{
    display: none;
  }
  #content-formation{
    width: 99%;
    margin: 20px auto 50px auto;
  }
  #content-formation h2{
    font-size: 22px;
  }
    #content-formation p{
    font-size: 14px !important;
  }
    #content-formation h3{
    font-size: 15px !important;
  }
  #content-formation a{
    font-size: 14px;
  }
  #content-competences{
    width: 91%;
    padding: 10px;
     margin: 20px auto 50px auto;
}
  #content-competences ul li ul{
     margin-left: 5%;
  }
  #content-competences h2{
    width: 100%;
    text-align: center;
     margin-left: 0%;
  }
  .competence-divers>h2{
    width: 99% !important;
  }
  #content-exp{
    width: 92%;
    overflow: hidden;
     margin: 20px auto 50px auto;
  }
  #issues li{
    width: 500px;
  }
  #dates{
   /*  margin-left: 80px !important; */
  }

  #issues li img{
   width: 10%;
   margin: 10px 30px 150px 5px;
  }
  #content-realisations{
  width: 91%;
   margin: 20px auto 50px auto;
  }
  #content-realisations .parent-container, #content-realisations .parent-container2, #content-realisations .parent-container3{
    margin-left: 0px;
  }
  .panel-wrapper{
    padding: 0px 4px !important;
  }
  #content-centres_interet{
    width: 91%;
    padding-top: 0px;
  }

  #content-centres_interet .presentation{
    margin-top: 0px;
    height: 765px;
  }
  .flip-container, .front, .frontCode, .frontTechno{
    /* width: 100px;
    height: 100px; */
  }
  #content-contact{
    width: 91%;

  }
  input[type="text"], input[type="email"]{
    width: 84%;
  }
  textarea{
    width: 84%;
    
  }

}