/* ---- RESET CSS ---- */



html, body {height:100%;}

 html {font-size:100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body {margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif; color:#000; line-height: 1.231; font-size:16px;}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}

*{outline:none;}

p {text-align:left; margin:0 0 10px 0; line-height:18px;}
p:last-child {margin:0;}

blockquote {margin:25px 20px 10px 0; padding:0 20px; border-left:3px solid #fff200; color:#fff200; line-height:1.5; font-style:italic; font-family:Georgia;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
img {border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}
nav ul {list-style: none; list-style-image: none; margin: 0; padding: 0;}

fieldset, figure, form {border: 0; margin: 0; padding: 0;}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
label,input,select,textarea{font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:normal; line-height:normal;}
textarea { overflow: auto; vertical-align: top; resize: vertical;}
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* ---- LIENS ---- */

a {color:#d91b5c; text-decoration:none;}
a:hover {color:#000; text-decoration:none;}
a img {border:none;}

/* ---- Hn ---- */ 

h1,h2,h3,h4,h5,h6{font-weight:normal; color:#000;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:13px;}

/* ---- SELECTION TEXTE ---- */

::-moz-selection {
background-color:#fff200;
color:#000;
}

::selection {
background-color:#fff200;
color:#000;
}

/* ---- PROPRIETES UTILES ---- */ 

.clear {clear:both;}
.alignleft {float:left; margin-right:20px;}
.aligncenter {margin:0 auto;}
.alignright {float:right; margin-left:20px;}
.relative {position:relative;}
.container {width:940px; margin:0 auto; position:relative;}
.hidden {overflow:hidden;}
.block {display:block;}
.inline {display:inline;}
.ib {display:inline-block;}
.indent {text-indent:-7000px;}
.nomargin {margin:0px;}
.col {-webkit-column-count:3;
	-webkit-column-gap:50px;
	-webkit-column-rule:1px dotted #333;
	
	-moz-column-count:3;
	-moz-column-gap:50px;
	-moz-column-rule:1px dotted #333;
	
	-o-column-count:3;
	-o-column-gap:50px;
	-o-column-rule:1px dotted #333;
	
	column-count:3;
	column-gap:50px;}



/* ---- MENU GAUCHE ---- */

#hide {display : inline-block;width : 33px; height : 33px;position : absolute; top :0; right: -33px;
	background: url(img/menu.png) top left no-repeat; text-indent: -5000px;}
.show {background: url(img/menu.png) top left no-repeat!important;}

body {background-color: #ccc;}

#logo h1 {
	font-family: 'Playball', cursive;
	font-size : 40px;
	color : #fff;
	text-align:left;
	margin-left: 15px;
	margin-top: 5px;
	}

#sidebar{position:fixed; z-index:999; top:0; left:0; width:226px; height:100%;
background: rgb(199,42,33); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(199,42,33,1) 1%, rgba(198,74,67,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(199,42,33,1)), color-stop(100%,rgba(198,74,67,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(199,42,33,1) 1%,rgba(198,74,67,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(199,42,33,1) 1%,rgba(198,74,67,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(199,42,33,1) 1%,rgba(198,74,67,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(199,42,33,1) 1%,rgba(198,74,67,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c72a21', endColorstr='#c64a43',GradientType=1 ); /* IE6-9 */


-webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

#menu {font-size : 1em;text-align:left;margin: 50px 0px 0px 30px}

#menu li {height:80px; line-height:80px;border-bottom: 1px solid #ccc;}

#menu li.active a {color:#c72a21;background-color: #ccc;}


#menu li a {font-family: 'Droid Sans', sans-serif; display: block;color : #fff;
 -webkit-transition: background-color .4s ease-in;
    -moz-transition: background-color .4s ease-in;
    -o-transition: background-color .4s ease-in;
    transition: background-color .4s ease-in;}
#menu li a:hover {color:#c72a21;background-color: #ddd}

#menu li img {width : 50px;float: left;margin-top: 15px;}


/* ---- CONTENT ---- */


.content {background:url(img/19.jpg) no-repeat center fixed;
	 -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
  position:relative; margin:0px auto;}


/*HOME */
#home {height : 100%;}

#content-home {padding-top : 220px;margin-left: 35%;width:40%;overflow: hidden;min-height:400px;background-color:rgba(234,234,234,0.6);}

#home h1 {
	font-family: 'Playball', cursive;
	font-size : 4em;
	color : #fff;
	text-align:center;
	margin-top: 5px;
	text-shadow: 2px 2px 2px black;
	}

#home h2 {
	font-family: 'Droid Sans', sans-serif;
	font-size : 40px;
	color : #fff;
	text-align:center;
	margin-top: 65px;
		text-shadow: 2px 2px 2px black;

	}

	#content-home ul {
	margin : 50px auto 20px auto;
	width : 470px;
	height: 26px;
	
}

#content-home ul li {
	float : left;
	margin : 0px auto;
	font-family: 'Simonetta', cursive;
	/*font-family : "vani";*/
	font-size : 16px;
	color : #212121;

	
}

#content-home ul li img {
	vertical-align:middle;

	
}


#content-home ul li h3 {
	float : rigth;
	display : inline;
	line-height:26px;
}

#content-home ul li+li {
	margin-left : 23px;
}

#content-home ul li:last-child {
	margin-left : 20px;
}





/*debut FORMATION*/
.prog h2 {
	color : #ddd;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
}

.prog ul li {
	list-style: disc;
	color : #ddd;
font-family: 'Droid Sans', sans-serif;
	font-size : 15px;
	line-height: 16px;
	margin-top: 10px;
	text-align: left;
}


#formation {padding-top :7%;padding-bottom :10%;height : 100%;}
/*#formation {position : absolute;overflow : hidden;margin : 0px auto;padding-top : 80px; background-image: url(img/19.jpg); }*/

/*#content-form {position: relative;width:600px; background-color:rgba(234,234,234,0.6); display:inline-block;
 margin:0 40px 40px 0; border-top:1px solid #fff200;padding-bottom: 90px;}*/

#content-form {margin-left: 31%;padding : 4%;width:40%;overflow: hidden;background-color:rgba(234,234,234,0.6);}


#formation hr {
	width: 15%;
	display: block;
	height: 1px;
 margin : -0.6em auto 0.6em auto;
  padding: 0;
  color: #F00;
  border: 0;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));}

#formation h2 {font-family: 'Simonetta', cursive;font-size: 30px;color : #387ba3; text-align: center;padding-bottom: 15px;padding-top: 15px;}

#formation h3 {font-family: 'Droid Sans', sans-serif;font-size: 18px;color : #387ba3; text-align: center;padding-bottom: 5px;padding-top: 15px;}

#formation a, #formation p {text-decoration: none;font-family: 'Droid Sans', sans-serif;font-size: 16px;color :#9e3723;text-align: center}

#formation a:hover {text-decoration: underline;} 
#formation {text-align: center; font-family: 'Droid Sans', sans-serif;font-size: 16px; }

/*fin FORMATION*/

/*debut comptences*/
#competences {padding-top :7%;padding-bottom :10%;height : 100%;}

#content-competences {margin-left: 31%;padding : 4%;width:40%;overflow: hidden;min-height:400px;background-color:rgba(234,234,234,0.6);}

#content-competences ul li {margin-left : 5px;list-style: none; width: 100%;display: inline-block;}

#content-competences h2 {margin-top : 29px;width : 10px;margin-left: 10px; float : left; font-family: 'Simonetta', cursive;font-size: 30px;color : #387ba3;}
#content-competences ul li ul{float: left;height : 30px;line-height: 30px;margin-left: 40%; padding-top: 28px;}
#content-competences ul li ul li { margin-left:10px; float: left;
								width : 30px;-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%}
#content-competences .empty {color :#eaeaea; background-color : #eaeaea; border : 1px solid #ea5234; }
#content-competences .full {color :#eaeaea;} 


/* debut experience pro */
#exp {padding-top :7%;padding-bottom :10%;height : 100%;}

#content-exp {margin-left: 31%;padding : 4%;width:40%;overflow: hidden;min-height:400px;background-color:rgba(234,234,234,0.6);}



#content-exp h1 {font-family: 'Simonetta', cursive;color : #387ba3;text-align: center }

#content-exp a {font-family: 'Simonetta', cursive;font-size: 30px;color : #387ba3; text-decoration: none;}

#content-exp #issues li h1 {font-family: 'Droid Sans', sans-serif;font-size: 30px;color : #387ba3; text-decoration: none;margin: 20px 0px 20px 0px;text-align: left;}


#content-exp #issues li h2 {font-family: 'Droid Sans', sans-serif;font-size: 20px;font-weight: normal;text-align: left;color : #285875;padding-bottom: 10px;}

#content-exp #issues li p {font-family: 'Droid Sans', sans-serif;font-size: 13px;margin-right: 70px;font-weight: normal;line-height: 22px;padding-bottom: 10px;color : #434343;}


#content-exp #issues li h3 {font-family: 'Droid Sans', sans-serif;font-size: 16px;margin-right: 70px;font-weight: bold;line-height: 22px;color : #434343;}

/*TIMELINE*/
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

	#timeline {
		width: 800px;
		height: 350px;
		overflow: hidden;
		margin: 10px auto;
		position: relative;
		background: url('img/dot.gif') left 45px repeat-x;
		
			}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('img/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 40px;
			        font-weight: bold;
				}
		
		#issues {
			width: 800px;
			height: 350px;
			overflow: hidden;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					float: left;
					margin: 10px 30px 150px 50px;
					background: transparent;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */   
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */      
					zoom: 1;
					-webkit-transition: all 2s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out; 
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				/*#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					margin: 20px 0;
					text-shadow: #000 1px 1px 2px;
				}*/
				/*#issues li p {
					font-size: 14px;
					margin-right: 70px;
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
				}*/
		
		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('img/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('img/grad_right.png') repeat-y;
			}
		
		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;

		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('img/next.png');
			}
			#prev {
				left: 0;
				background-image: url('img/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}
/* fin experience pro */


/* debut réalisations */

#real {padding-top :4%;padding-bottom :10%;height : 100%;}


#content-realisations {padding : 20px;margin-left: 31%;width:45%;overflow: hidden;min-height:400px;background-color:rgba(234,234,234,0.6);}


#content-realisations .presentation h1 {font-family: 'Simonetta', cursive;font-size: 30px;color : #fff; text-decoration: underline;text-align: left; 
height : 50px; line-height : 50px;padding-left: 10px;width : 500px;height: 50px;background-color: #8E8E93;margin-top: 20px;margin-bottom: 20px;float: left;
-webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.75);
box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.75);
}

h2.title {font-family: 'Simonetta', cursive;font-size: 2em;color : #356aa0; text-decoration: none;text-align: left; 
height : 50px; line-height : 50px;padding-left: 10px;width : 500px;height: 50px;margin-top: 20px;margin-bottom: 20px;float: left;

}

#content-realisations .presentation h1.right {float : right;
-webkit-box-shadow: -3px 3px 0px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -3px 3px 0px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -3px 3px 0px 0px rgba(50, 50, 50, 0.75);
}



#content-realisations hr {width: 30%;
	display: block;
	height: 1px;
 margin : -0.8em auto 0.8em auto;
  padding: 0;
  color: #F00;
  border: 0;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));}

#content-realisations p {clear : both;font-family: 'Droid Sans', sans-serif;font-size: 16px;color : #285875; text-decoration: none;text-align: left;margin-bottom: 15px;margin-left: 15px;}

#content-realisations .parent-container, #content-realisations .parent-container2,#content-realisations .parent-container3 {margin-left: 50px;}

#content-realisations .parent-container img,#content-realisations .parent-container2 img,#content-realisations .parent-container3 img {margin : 15px;border : 1px solid #285875;opacity: 0.8;-webkit-box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 2px 0px 0px rgba(50, 50, 50, 0.75);
box-shadow:         2px 2px 0px 0px rgba(50, 50, 50, 0.75);}

#content-realisations .parent-container img:hover,#content-realisations .parent-container2 img:hover,#content-realisations .parent-container3 img:hover{opacity: 1}
/*fin réalisations */


